<%- include('./partials/header') %>

  <form action="/contacts/new" method="POST">

    <h1>Add Contact</h1>
    <br>
    <div>
      <label for="first-name">First Name:
        <input class="input-field" type="text" name="firstName">
    </div>
    <br>
    <div>
      <label for="last-name">Last Name:
        <input class="input-field" type="text" id="last-name" name="lastName">
      </label>
    </div>
    <br>
    <div>
      <label for="phone"> Phone:
        <input class="input-field" type="text" id="phone" name="phoneNumber" placeholder="111-111-111">
      </label>
    </div>
    <br>
    <div>
      <label for="email"> Email:
        <input class="input-field" type="email" id="email" name="email">
      </label>
    </div>
    <br />
    <br>
    <h4> Address: </h4>
    <br />
    <div>
      <label for="street-address"> Street:
        <input class="input-field" type="text" id="street-address" name="street">
      </label>
    </div>
    <br>
    <div>
      <label for="state-address"> State:
        <input class="input-field" type="text" id="state-address" name="state">
      </label>
    </div>
    <br>
    <div>
      <label for="zip-address"> Zip Code:
        <input class="input-field" type="number" id="zip-address" name="zip">
      </label>
    </div>
    <br>

    <div class="d-flex space-between ">
      <button class="button" type="submit">Submit</button>
      <!-- hide this form when this button is clicked -->
      <button class="neg-button" type="button" onclick="toggleAddContactForm()"><a href="/"> Cancel </a></button>
    </div>
  </form>

<%- include('./partials/footer') %>